* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0d1117;
}

.content__wrapper {
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.number__holder {
    transition: 0.6s linear;
    font-size: 18em;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.button {
    width: 130%;
    height: 5%;
    background-color: rgba(183, 183, 235, 0.137);
    border-radius: 1em;
    cursor: pointer;
    transition: 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    justify-content: space-around;
}

.button:hover {
    background-color: rgba(183, 183, 235, 0.534);
}
@media (max-width: 1080px) {
    .number__holder {
        font-size: 12em;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
    }
    .button {
        width: 230px;
        height: 5%;
        background-color: rgba(183, 183, 235, 0.137);
        border-radius: 1em;
        cursor: pointer;
        transition: 0.3s linear;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
    }
}

.done {
    transition: linear 0.3s;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('../img/done.png');
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.hide {
    opacity: 0;
}
